.newOrder {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.651),
    rgba(255, 255, 255, 0.267)
  );
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(105px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.completedOrders {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.651),
    rgba(255, 255, 255, 0.356)
  );
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(105px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
}
