.newOrder {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.651),
    rgba(255, 255, 255, 0.267)
  );
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(105px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 26px;
  margin: 2rem;
  padding: 0 0 2rem 0;
}

.completedOrders {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.651),
    rgba(255, 255, 255, 0.356)
  );
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(105px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 3rem;
  font-size: 26px;
  padding: 0 0 2rem 0;
}
.coc {
  font-size: 30px;
}

.makeOrderButton {
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: large;
  font-family: "Underdog", system-ui;
  width: 50%;
  box-shadow: 0px 0px 15px rgba(173, 65, 40, 0.493);
  background: rgba(255, 228, 221, 0.349);
  border: none;
  margin: 1rem;
}
.removeItemButton:hover,
.makeOrderButton:hover {
  background-color: black;
  color: white;
  font-family: "Underdog", system-ui;
  box-shadow: 0px 0px 10px rgb(226, 71, 32);
}

.makeOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gjhj {
  color: rgb(0, 0, 0);
}
.gjhj:hover {
  color: rgb(10, 207, 10);
}

.completedOrders .orders {
  padding: 10px 20px;
  /* width: 100%; */
  font-family: "Underdog", system-ui;
  letter-spacing: -0.09em;
  background-color: #0e4b100c;
  color: rgb(88, 45, 4);
  border: none;
  font-size: 27px;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: inset 0 0 10px rgb(226, 71, 32);
  margin: 1rem;
}

.completedOrders .orders:hover {
  box-shadow: inset 0 0 10px rgb(219, 189, 53);
}

.removeItemButton {
  border-radius: 2rem;
  padding: 0.5rem;
  font-size: large;
  font-family: "Underdog", system-ui;
  /* width: 50%; */
  box-shadow: 0px 0px 15px rgba(173, 65, 40, 0.493);
  background: rgba(255, 228, 221, 0.349);
  border: none;
  margin: 1rem;
}
