.cityFilter {
  width: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0)
  );
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(105px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
  color: white;
  height: 70px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}

.cityFilter div {
  font-size: 15px;
  margin: auto 1rem;
}

/* #city {
  border: 1px solid black;
 
  padding: 0.5rem;
  background-color: rgba(240, 255, 255, 0.178);
  color: rgb(250, 227, 197);
} */

option {
  color: rgb(250, 227, 197);
  background: rgb(48, 29, 16);
  font-family: 'DotGothic16', sans-serif;
}

#city {
  padding: 10px 20px;
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: -0.09em;
  background-color: #0e4b100c;
  color: white;
  border: none;
  font-size: 12px;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: inset 0 0 10px rgba(168, 66, 7, 0.9);
}
